services:
  - type: web
    name: whodunnitbro
    runtime: python3.12
    env: python
    plan: free

    buildCommand: |
      echo "---- Installing dependencies ----"
      pip install -r requirements.txt

      echo "---- Building C++ Engine ----"
      cd backend/cpp_engine
      mkdir -p build
      cd build
      cmake -DPython_EXECUTABLE=$(python3 -c "import sys; print(sys.executable)") ..
      make -j4

    startCommand: python backend/python_api/app.py
